<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="classes">
<parameter name="url" value="http://172.23.25.12/"/>
<parameter name="un" value="339154"/>
<parameter name="pwd" value="admin"/>

<listeners>
<listener class-name="com.auto.qa.testcases.CustomListeners" />
</listeners>

  <test name="Test"> 
 
  
  
    <classes>
    
      <class name="com.auto.qa.testcases.TestPage5"/>
      <class name="com.auto.qa.testcases.TestPage4"/>
      <class name="com.auto.qa.testcases.TestPage1"/>
      <class name="com.auto.qa.testcases.TestPage3"/>
      <class name="com.auto.qa.testcases.TestPage2"/>
    </classes>
    
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
